@font-face{
    font-family: "fuente1";
    src: url("fonts/Sephora\ &\ Hayden.ttf") format("truetype");
}
body{
    background: url(decoración-moderna-de-peluquería-tonos-neutros-limpios-y-elegantes-espejos-enmarcados-en-oro-sobre-mostrador-mármol-cómodas-385627021.webp);
}


h1{
    color: #c97afd;
    font-family: "fuente1",'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#contenedor{
    margin: 100px;
    padding: 20px;         
    border-radius: 10px;
	background: #ad60bd;
}

