@font-face {
    font-family: 'SephoraHayden';
    src: url('Fuentes/Sephora & Hayden.ttf') format('truetype');

}

h1 {
    font-family: 'SephoraHayden';
    font-weight: 100;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.servicios{
    max-height: 60vw;
    max-width: 40vw;
    background-color: blueviolet;
    display: flex;
    margin: 30px;
}